<div class="app">
  <h1>
    {{ title }}
  </h1>
  <h3>Insurance Agency, LLC</h3>
  <div style="text-align: center; padding: 25px;">
    <img src="../assets/office-front.PNG" alt="DK Office Entrance" />
  </div>
  <div style="padding: 1em; text-align: center;">
    <input
      type="text"
      [value]="name"
      (input)="handleInput($event)"
      (blur)="handleBlur($event)"
    >
  </div>
  <div>
    <mat-card class="divider">
      <mat-card-title>
        <b>Could You Get Better Insurance Coverage at a Lower Rate?</b>
      </mat-card-title>
      <mat-card-content>
        <aside>
          <i>Speak with Dawn Koehler today to find out!</i>
        </aside>
        <p>
          Insurance is a necessity for nearly every aspect of your life, from
          your car to your home and family - but finding an effective,
          affordable policy can be difficult. While there are many big-name
          insurance agencies out there, few can provide the flexibility and
          attentiveness you need while attempting to find the best rate
          available.
        </p>
        <p>
          As an independent insurance agent. Dawn Koehler can present you with
          many coverage options and help you secure the one that is best for you
          and your budget. Since she's not restricted by a particular company's
          policies and sales goals. Dawn Koehler can work specifically to meet
          the needs of her clients, not the quotas of the big insurance
          companies. To partner with an independent insurance agent for all of
          your insurance needs, get in touch with us.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="divider">
      <mat-card-title>
        <b>Enjoy attentive, accessible personal service</b>
      </mat-card-title>
      <mat-card-content>
        <aside>
          <i>An independent agent can provide service big companies simply
            cannot</i>
        </aside>
        <p>
          Having an insurance company treat you like a number can be
          frustrating, especially when you have questions or need to file a
          claim. At Dawn Koehler Insurance Agency, we are accessible when you
          need us, providing the timely, attentive service you deserve.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="divider">
      <mat-card-title>
        <b>Speak with and agent today about your coverage needs</b>
      </mat-card-title>
      <mat-card-content>
        <aside>
          <i>Find the policy that is best for you</i>
        </aside>
        <p>
          Make Dawn Koehler Insurance Agency your trusted provider for personal
          and commercial insurance plans in Great Bend, PA and the surrounding
          areas. Licensed in Pennsylvania and New York, Dawn Koehler can find
          you the best coverage and rates on policies including ...
        </p>
        <ul>
          <li>
            <b>Auto</b> comprehensive, liability, collision,
            uninsured/underinsured
          </li>
          <li>
            <b>Fire</b> home, vacant homes, secondary homes, specialty homes,
            mobile homes
          </li>
          <li>
            <b>Life</b> term, universal, index universal, family, children's,
            key employee
          </li>
          <li>
            <b>Commercial</b> contractors, restaurants, retail, gas industry,
            service industry
          </li>
        </ul>
        <aside>
          <i>Call today to speak with an independent insurance agent about the
            insurance policies that are right for you.</i>
        </aside>
      </mat-card-content>
    </mat-card>
  </div>
  <footer class="divider">
    <h5>Contact Us</h5>
    <h6>240 Main Street, Great Bend, PA 18821</h6>
    <ul>
      <li>
        570-879-8810 (call or text)
      </li>
      <li><b>Mon:</b> 9:00 - 5:30</li>
      <li><b>Tue:</b> 9:00 - 5:30</li>
      <li><b>Wed:</b> 9:00 - 5:30</li>
      <li><b>Thur:</b> 9:00 - 5:30</li>
      <li><b>Fri:</b> 9:00 - 5:30</li>
      <li><b>Sat:</b> 9:00 - 12:00</li>
      <li><b>Sun:</b> Closed</li>
    </ul>
  </footer>
</div>
