<div>
  <mat-card class="divider">
    <mat-card-title>
      <b>AUTO INSURANCE</b>
    </mat-card-title>
    <h4>Don't Risk Overpaying</h4>
    <mat-card-content>
      <aside>
        <i>Comprehensive auto insurance in Great Bend, PA</i>
      </aside>
      <p>
        Valid auto insurance is required to drive in Pennsylvania - it's the
        law. But quality auto insurance should do a lot more than meet minimum
        state requirements. At Dawn Koehler Insurance Agency we offer many
        different policy options for personal and commercial auto insurance
        coverage or a more comprehensive planm we will find the best policy for
        you needs and budget. Call today to speak with an independent insurance
        agent about auto insurance in Susquehanna County, PA and Broome County, NY.
      </p>
      <i>Imperfect driving records, multiple vehicles and commercial cars welcome.</i>
      <p>
        Rely on our independent agents to find the best auto insurance policy for your
        specific needs. By working with a variety of carriers, we can customize your
        policy and create one that offers the best coverage at the lowest price available.
        Call today to speak with a licensed insurance agent in Susquehanna County, PA and
        Broome County, NY about drafting the right auto insurance policy for your converage
        needs.
      </p>
    </mat-card-content>
  </mat-card>
</div>
